<!DOCTYPE html>
<head>
    Display the Books
</head>
<body>
    <center>
        <h1>Displaying the Books</h1>
        <table border="1">
            <tr>
                <th>Book Id</th>
                <th>Name of Book</th>
                <th>Author</th>
                <th>Genre of Book</th>
                <th>Year of Publishing</th>
            </tr>
            {% for data in Booksmodel%}
            <tr>
            <td>{{data.id}}</td>
            <td>{{data.BookName}}</td>
            <td>{{data.Author}}</td>
            <td>{{data.Genre}}</td>
            <td>{{data.PublishedYear}}</td>
            {% endfor %}
        </tr>
        </table>
    </center>
</body>
</html>